// Colores
$negro: #020202;
$verde-oscuro: #0A400C;
$verde-claro: #8dac58d0;
$beige: #ccc387;
$dorado: #c1b70b;
$gris: rgb(209, 208, 208);

// Tipografias
$font-titulo: "Bungee", sans-serif;
$font-texto: "Chocolate Classical Sans", sans-serif;
$font-secundaria: "Manrope", sans-serif;

// Espacio de base
$espaciado: 10px
