@use "../generales/variable" as *;
@use "../generales/mixins" as *;

.banner-cultura{
    background-image: url("../medios/banner-hiphop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 6px rgba($negro, 0.8); 

    .titulo{
        color: $dorado;
        font-family: $font-secundaria;
        font-weight: 900;
        animation: aparecer 2s ease-in-out;
    }
}

.cultura-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    margin-top: 40px;
    .cultura-item{
        background-color: rgba($beige, 0.3);
        border-radius: 12px;
        padding: 12px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        img{
            width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba($negro, 0.2);
            transition: transform 0.3s ease;
        }

        img:hover{
            transform: scale(1.05);
        }

        h3{
            color: $verde-oscuro;
            font-family: $font-secundaria;
            margin-bottom: 10px;
            font-size: 1.5rem;
        }

        p{
            text-align: justify;
            line-height: 1.5;
            font-size: 1rem;
            color: #000;
        }

        &:hover{
            transform: scale(1.04);
            box-shadow: 0 6px 12px rgba($negro, 0.3);
        }
    }
}

/* Media queries */
/* tablets horizontales (entre 768px y 1024px) */

@media (max-width:1024px){
    .cultura-grid{
        gap: 15px;
    }
    .cultura-item{
        padding: 18px;
        h3{
            font-size: 1.3rem;
        }
        p{
            font-size: 0.95rem;
        }
        img{
            height: 200px;
        }
    }
}

/*Tablets verticales y celulares grandes (entre 576px y 767px)*/
@media(max-width: 768px){
    .cultura-grid{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .cultura-item{
        padding: 15px;
        h3{
            font-size: 1.2rem;
        }
        p{
            font-size: 0.9rem;
        }
        img{
            height: 220px;
        }
    }
}

/*Celulares chicos (menos de 576px)*/
@media (max-width: 576px){
    .cultura-grid{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .cultura-item{
        padding: 12px;
        img{
            max-height: 180px;
        }
        h3{
            font-size: 1.1rem;
        }
        p{
            font-size: 0.85rem;
        }
    }
    .banner-cultura{
        height: 25vh;
        .titulo{
            font-size: 1.4rem;
        }
    }
    footer{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}


