@use "../generales/variable" as *;
@use "../generales/mixins" as *;

.banner-rap {
    background-image: url("../medios/banner.jpeg");
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 25vh;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $negro;
    display: flex;

    .titulo{
        color: $dorado; 
        font-family: $font-secundaria;
        animation: aparecer 2s ease-in-out;
        font-weight: 900;
        font-size: 3rem;
        text-shadow: 2px 2px 6px rgba($negro, 0.8);
    }
}

h2{
    font-family: $font-titulo;
    font-weight: 800;
    font-size: 1.7rem;
    color: $negro;
    text-transform: uppercase;
}

h3{
    font-family: $font-texto;
    font-weight: 700;
    font-size: 1.3rem;
    color: $negro;
    text-transform: uppercase;
}


@keyframes aparecer{
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contenedor{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: $beige;
    color: #000;
    border: 1px solid darken($beige, 15%);
    text-align: center
}

.lugar{
    @include centrado-flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
    img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
        display: block;
        &:hover{
        transform: scale(1.03);
        }
    }
    .media{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
    iframe{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    }
    .texto {
        flex: 1;
        background-color: #9e97385f;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        p{
            text-align: justify;
            line-height: 1.6;
        }
    }
}
@include responsive(768px){
    .lugar{
        flex-direction: column;
        .media, .texto {
            width: 100%;
        }
    }
}

.flotar{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.1);
    }
}

@media (max-width: 576px){
    .banner-rap{
        height: 25vh;
        background-size: cover;
    }
    .banner-rap .titulo{
        font-size: 1.3rem;
    }
}

