@use "../generales/general" as *;
@use "../generales/variable" as *;
@use "../generales/nav" as *;
@use "../generales/mixins" as *;
@use "../generales/footer" as *;

.trap-banner{
    background-image: url("../medios/banner-trap.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 6px rgba($negro, 0.8); 

    .titulo{
        color: $dorado;
        font-family: $font-secundaria;
        font-weight: 900;
        animation: aparecer 2s ease-in-out;
    }
}
//tabla comparativa

.tabla-comparativa{
    max-width: 800px;
    margin: 30px auto;
    border: 1px solid #0a0a0a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    h4{
        margin: 0;
        padding: 1rem;
        background-color: darken($beige, 10%);
        color: #000;
        text-align: center;
        border-bottom: 1px solid #000000;
    }
}

.fila-tabla{
    display: flex;
    border-bottom: 1px solid #000000;
    &:last-child{
        border-bottom: none;
    }
}

.columna-tabla{
    flex: 1;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #080808;
    &:last-child{
        border-right: none;
    }
}

.titulo-columna{
    background-color: lighten($beige, 5%);
    font-weight: bold;
    color: #333;
}

.historias-fases{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
    .fase{
        padding: 20px;
        border: 1px solid darken($beige, 10%);
        border-radius: 10px;
        background-color: lighten($beige, 3%);
        text-align:left;
        h4{
            color: #426f20;
            margin-top: 0;
            border-bottom: 2px solid #070707;
            padding-bottom: 10px;
            margin-bottom: 15px;
            font-weight: 600;
        }
    }
}

@include responsive(768px){
    .historia-fases{
        grid-template-columns: 1fr;
    }
}

.galeria-trap{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    background: linear-gradient(180deg, #cfbe2591 0%, #352e02c0 100%);
    padding: 40px 20px;
    border-radius: 20px;
    h2{
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        color: #000000;
    }
    p{
        font-size: 1.1rem;
        color: #000000;
    }
}

#carruselTrap{
    display: block;
    margin: 10px auto;
    padding: 0;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba($negro, 0.6);
    img{
        height: auto;
        width: 100%;
        object-fit: contain;
        display: block;
        object-fit: contain;
        background-color: #000;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        filter: invert(100%);
    }
    .carousel-control-prev,
    .carousel-control-next{
        width: 5%;
    }
    @media (max-width: 768px){
        max-width: 100%;
        img{
            height: 280px;
        }
    }
}

